/*chain case;*/

md-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
}
md-sidenav{
    -webkit-overflow-scrolling:touch;
}
.event-item{
    width:300px;
}
.s24 {
    width: 24px;
    height: 24px;
    color: #f00;
}
.ng-cloak, .x-ng-cloak{
  display: none !important;
}

[ng-cloak],[ng:cloak], [data-ng-cloak], [x-ng-cloak]{
  display: none !important;
}
html,body,.main{
    background:#fcfcfc;
    font-family:monospace;
    margin:0;
}
.main{
    height:600px;
}
body{
    position:relative;
    height:calc(100% - 20px);
}
.calendar{/*{{{*/
    width: 315px;
    padding: 10px;
    margin: 0 auto;
    border-radius:3px;
    -webkit-user-select:none;
    user-select:none;
    font-size:0;
}
.calendar .cal-row{
    width: 315px;
}
.calendar .date{
    cursor:pointer;
    width:43px;
    height:30px;
    position:relative;
    padding:5px 0;
    vertical-align:top;
    display:inline-block;
    text-align:center;
    border:1px solid transparent;
    font-size:initial;
}
.calendar .date.today,.calendar .selected{
    height:30px;
}
.calendar .date.today .inner{
    display:inline-block;
    width:18px;
    height:18px;
    background:#f00;
    color:#fff;
    border-radius:50%;
    margin:0 8px 0 9px;
}
.calendar .selected .inner{
    display:inline-block;
    width:18px;
    height:18px;
    background:#c03;
    color:#fff;
    border-radius:50%;
    margin:0 8px 0 9px;
}
.calendar-header{
    text-align:center;
    font-size:initial;
}
.calendar-header .left{
    float:left;
    width:40px;
}
.calendar-header .right{
    float:right;
    width:40px;
}/*}}}*/
ul{
    list-style:none;
}
#setting{
    padding-top:30px;
}
#detail,#how-to-write,#event-list{
    display:inline-block;
    vertical-align:top;
    width:500px;
    padding:10px;
    border:1px solid #ccc;
    background:#f3f3f3;
    box-shadow:0 0 10px #ccc;
    border-radius:3px;
    position:absolute;
}
#detail{
    width: 90%;
    margin-left: -45%;
    bottom: 30px;
    left: 50%;
}
.error-message{
    color:#c00;
}
.search-list,.following-list{
    padding:0;
}
.following:first-child {
    border-top:1px solid #999;
}
.following.hidden-group{
    background: #E6E6E6;
}
.cf:after {
    display:block;
    clear:both;
    content:"";
}
.left{
    float:left;
}
.right{
    float:right;
}
.booked-1{background:#fee}
.booked-2{background:#fdd}
.booked-3{background:#fbb}
.booked-4{background:#f99}
.booked-5{background:#f66}
input:disabled {
    color:#999;
}
#event-editor [name='rules']{
    width:200px;
}
@media screen and (max-device-width: 480px) {/*{{{*/
    #detail,#setting,#how-to-write,#event-list{
        display:block;
        position:initial;
        bottom:initial;
        left:initial;
        right:initial;
        width:300px;
        margin:20px auto;
    }
    .event-item{
        width:220px;
    }
    html,body,.main{
        height:auto;
    }
    body {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .search-list, .following-list{
        overflow-y:auto;
        height:auto;
    }
}/*}}}*/
