<!DOCTYPE html>
<html lang="ja" ng-app="rabbit" manifest="manifest.manifest">
  <head>
    <meta charset="UTF-8">
    <title>Rabbit Plot</title>
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="全く新しいカレンダー。">
    <meta name="keywords" content="Rabbit plot,カレンダー,calendar,楽">
    <script src="js/angular.min.js" defer></script>
    <script src="js/angular-touch.min.js" defer></script>
    <script src="js/angular-animate.min.js" defer></script>
    <script src="js/underscore-min.js" defer></script>
    <script src="js/mainController.js" defer></script>
    <script src="js/calendar.js" defer></script>
    <script src="js/eventCal.js" defer></script>
    <script src="js/eventEditor.js" defer></script>
    <script src="js/groupEditor.js" defer></script>
    <script src="js/detail.js" defer></script>
    <script src="js/setting.js" defer></script>
    <script src="js/factory.js" defer></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="main ng-cloak" ng-controller="mainController" ng-cloak>
      <a href="how-to-use.html">How to use</a>
      <button ng-click="showsSetting=!showsSetting">setting</button>
      <div id="setting" ng-controller="setting" ng-if="showsSetting"><!--{{{-->
        <button ng-click="export()">export setting</button><button ng-click="import()">import setting</button><br>
        Following:
        <ul ng-show="user.following.length>0" class="following-list">
          <li class="following cf" ng-class="user.isHiddenGroup(-1)?'hidden-group':'visible-group'">
            private
            <button ng-click="user.isHiddenGroup(-1)?show(-1):hide(-1)">{{user.isHiddenGroup(-1)?'show':'hide'}}</button>
          </li>
          <li ng-repeat="id in user.following" class="following cf" ng-if="group[id]" ng-class="user.isHiddenGroup(id)?'hidden-group':'visible-group'">
            {{group[id].name}}
            <button ng-click="user.isHiddenGroup(id)?show(id):hide(id)">{{user.isHiddenGroup(id)?'show':'hide'}}</button>
            <button ng-click="unfollow(id)">unfollow</button>
          </li>
        </ul>
        <div ng-show="user.following.length==0">No following</div>
        <button ng-click="hideAll()">hide all</button>
        <button ng-click="showAll()">show all</button><br>


        Search:<input type="text" ng-model="search_keyword">
        <button ng-click="search()">search</button>
        <button ng-click="randomSearch()">random</button>
        <ul class="search-list">
          <li ng-repeat="id in searchResult">
            {{group[id].name}}
            <button ng-disabled="user.following.indexOf(id)!==-1||followsParent(id)!==true" ng-click="follow(id)">follow</button>
            <span class="error-message" ng-show="followsParent(id)!==true">
              このグループはグループ"{{group[followsParent(id)].name}}"の子グループです。
              {{group[followsParent(id)].name}}をフォローしてください。
              <button ng-click="follow(followsParent(id))">{{group[followsParent(id)].name}}をフォロー</button>
            </span>
          </li>
        </ul>
        <button ng-click="makeAGroup()">Make a group</button><br>
        <div ng-controller="groupEditor" id="group-editor" ng-show="isGroupEditMode"><!--{{{-->
          Add group:<br>
          Name:<input type="text" ng-model="groupForm.name"><br>

          Parent group:
          <select ng-repeat-start="parentGroup in groupForm.parentGroup track by $index" ng-model="groupForm.parentGroup[$index]" ng-options="id as group[id].name for id in user.following">
            <option value="">選択してください</option>
          </select>
          <button ng-click="groupForm.parentGroup.splice($index,1)" ng-disabled="groupForm.parentGroup.length<=1">x</button>
          <br ng-repeat-end>

          <button ng-click="groupForm.parentGroup.push('')">add parent</button><br>
          <button ng-click="addGroup()" ng-show="groupForm.mode==='add'">add</button>
          <button ng-click="editGroup()" ng-show="groupForm.mode==='edit'">save</button>
        </div><!--}}}-->
      </div><!--}}}-->
      <div class="dialog animate-show-hide" ng-if="showsDialog">{{dialogMessage}}<br ng-if="showsDialogButton"><button ng-click="hideDialog()" ng-if="showsDialogButton">OK</button></div>
      <div class="dialog animate-show-hide" ng-if="showsInputDialog">{{dialogMessage}}<input type="text" ng-model="dialogInputValue" auto-focus focus="focus" showsDialog="showsDialog"><br><button ng-click="hideDialog()" ng-if="showsDialogButton">OK</button></div>
    </div>
  </body>
</html>
