<!DOCTYPE html>
<html lang="ja" ng-app="ladder">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
  <script src="underscore-min.js"></script>
  <script src="mainController.js"></script>
  <script src="calendar.js"></script>
  <script src="eventEditor.js"></script>
  <script src="groupEditor.js"></script>
  <script src="factory.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="main" ng-controller="mainController" ng-click="click('body')">
    <div class="calendar">
      <div class="calendar-header cf">
        <button ng-click="lastYear()" class="left">&lt;&lt;</button>
        <button ng-click="lastMonth()" class="left">&lt;</button>
        {{year}}/{{month+1}}
        <button ng-click="nextYear()" class="right">&gt;&gt;</button>
        <button ng-click="nextMonth()" class="right">&gt;</button>
      </div>
      <div class="row"><span class="date" ng-repeat="day in 'SMTWTFS'.split('') track by $index">{{day}}</span></div>
      <div class="row" ng-repeat="row in calendar(year,month)">
        <span class="date"
          ng-repeat="date in row track by $index"
          ng-class="[selected===date?'selected':'',bookedClass(date)]"
          ng-mouseenter="mouseenter(date)"
          ng-mouseleave="mouseleave(date)"
          ng-click="select(date)"
          >{{date}}</span>
      </div>
    </div>


    <div id="detail" ng-click="click('detail')">
      <div ng-show="selected!==null">{{month+1}}/{{selected}}</div>
      <ul>
        <li ng-show="eventCalendar(selected).length===0">予定なし</li>
        <li ng-repeat="event in eventCalendar(selected) track by $index">
          <span ng-dblclick="switchToEdit(event)">{{format(event)}}</span><button ng-click="switchToEdit(event)">Edit</button>
        </li>
      </ul>

      <button ng-show="selected!==null" ng-click="switchToEdit(year,month,selected)">+</button>
      <div ng-controller="eventEditor" id="event-editor" ng-show="eventForm.isEditMode">
        {{eventForm.mode==='add'?'Add':'Edit'}} events:<br>

        <input type="radio" ng-model="eventForm.type" value="event">
          date:<input type="number" ng-model="eventForm.year" ng-disabled="eventForm.type!='event'"> /
          <input type="number" ng-model="eventForm.month" ng-disabled="eventForm.type!='event'"> /
          <input type="number" ng-model="eventForm.date" ng-disabled="eventForm.type!='event'"><br>

        <input type="radio" ng-model="eventForm.type" value="habit">
        rules:<input type="text" ng-model="eventForm.rule" ng-disabled="eventForm.type!='habit'"><button ng-click="showHowToWrite()">書き方</button><br>

        <span ng-show="eventForm.mode==='add'">
          group:<select ng-model="eventForm.selectedGroup" ng-options="id as id!='private'?group[id].name:'private' for id in user.following.concat('private')">
            <option value="">選択してください</option>
          </select>
          <span class="error-message" ng-show="eventForm.selectedGroup===undefined||eventForm.selectedGroup===null">必須</span><br>
        </span>

        Name:<input type="text" ng-model="eventForm.name"><span class="error-message" ng-show="eventForm.name===''">必須</span><br>
        <button ng-click="addEvent()" ng-show="eventForm.mode==='add'">add</button>
        <button ng-click="saveEvent()" ng-show="eventForm.mode==='edit'">save</button>
        <button ng-click="cancel()">cancel</button>
      </div>
    </div>

    <div id="setting" ng-click="click('setting')">
      <button ng-click="makeAGroup()">Make a group</button><br>
      Following:
      <ul ng-show="user.following.length>0">
        <li ng-repeat="id in user.following" class="following cf">{{group[id].name}}<button ng-click="unfollow(id)">unfollow</button></li>
      </ul>
      <div ng-show="user.following.length==0">No following</div>


      Search:<input type="text" ng-model="search_keyword">
      <ul>
        <li ng-repeat="id in search()">
          {{group[id].name}}
          <button ng-disabled="user.following.indexOf(id)!==-1||followsParent(id)!==true" ng-click="follow(id)">follow</button>
          <span class="error-message" ng-show="followsParent(id)!==true">
            このグループはグループ"{{group[followsParent(id)].name}}"の子グループです。
            {{group[followsParent(id)].name}}をフォローしてください。
            <button ng-click="follow(followsParent(id))">{{group[followsParent(id)].name}}をフォロー</button>
          </span>
        </li>
      </ul>


      <div ng-controller="groupEditor" id="group-editor" ng-show="isGroupEditMode">
        Add group:<br>
        Name:<input type="text" ng-model="groupForm.name"><br>

        Parent group:<select ng-repeat-start="selectedGroup in groupForm.selectedGroup track by $index" ng-model="groupForm.selectedGroup[$index]" ng-options="id as group[id].name for id in user.following">
          <option value="">選択してください</option>
        </select>
        <button ng-click="groupForm.selectedGroup.splice($index,1)" ng-disabled="groupForm.selectedGroup.length<=1">x</button>
        <br ng-repeat-end>

        <button ng-click="groupForm.selectedGroup.push('')">add parent</button><br>
        <button ng-click="addGroup()" ng-show="groupForm.mode==='add'">add</button>
        <button ng-click="editGroup()" ng-show="groupForm.mode==='edit'">save</button>
      </div>
    </div>


    <div id="how-to-write" ng-show="showsHowToWrite" ng-click="click('how-to-write')">
      <button ng-click="showHowToWrite()">hide</button><br>
      <p>
        rulesには指定したい日にちを指定するルールを書きます。
      </p>
      <p>
        書き方は「セレクタ:値」という基本形を','と' 'でつなげるというものです。','はAND=「かつ」=論理積を表し、' 'はOR=「または」=論理和を表します。例えば13日の金曜日を表現する時は「date:13,day:friday」となります(他にもday:fri,date:13など様々に書き表せます)。
      </p>
      <p>
        セレクタは順序を問いません。セレクタ一覧は以下のとおりです
      </p>
      <dl>
        <dt>date</dt><dd>例:date:13<br>日付を指定します。序数詞はつけてもつけなくてもかまいません。</dd>
        <dt>month</dt><dd>例:month:1,date:1<br>月を指定します。数値の他に、英語名での指定も可能です(例:April、Apr)。ただし、英語名では、頭は大文字で他は小文字でなくてはなりません。ちなみに睦月など和名も使えます。</dd>
        <dt>day</dt><dd>例:day:2nd-wednesday<br>曜日の指定です。ただ単に曜日を指定した場合、毎週何曜日という指定になります。序数詞をつけた場合、第何何曜日というように指定されます。序数詞と曜日の間はハイフンで区切るか、区切らずに並べてください。曜日の指定は、英語名(全小文字)、英語名短縮バージョン(全小文字、3文字)、日本語(曜日までつける)のいずれかとなります。</dd>
        <dt>not</dt><dd>例:not:public-holiday not:name="元旦"否定セレクタです。記法は次の2通りです(いまのところ)。not:public-holidayとすると祝日の日は除き、not:name="event"とすると"event"という名前のイベントがある日を除きます。</dd>
      </dl>
    </div>
  </body>
</html>
