/*chain case;*/
.ng-cloak, .x-ng-cloak{
  display: none !important;
}
[ng-cloak],[ng:cloak], [data-ng-cloak], [x-ng-cloak]{
  display: none !important;
}
button{
    display:inline-block;
    background: #FFF;
    border: 1px solid #ccc;
    border-bottom:2px solid #aaa;
    margin: 0 3px;
    padding: 1px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    cursor:pointer;
    outline:none;
    -webkit-user-select:none;
    user-select:none;
}
button:active {
    border-bottom:1px solid #ccc;
    position:relative;
    top:1px;
}
html,body,.main{
    background:#eee;
    height:100%;
    font-family:times;
    margin:0;
}
body{
    position:relative;
    height:calc(100% - 20px);
    margin:10px;
}
.code{
    display: inline-block;
    height: 1em;
    vertical-align: top;
    background: #EEE;
    border: 1px solid #CCC;
    padding: 1px 7px;
    margin:0 3px;
}
.calendar{
    background:#F3F3F3;
    width: 273px;
    border: 1px solid #ccc;
    box-shadow:0px 3px 10px #ccc;
    padding: 10px;
    margin: 0 auto;
    border-radius:3px;
    -webkit-user-select:none;
    user-select:none;
    font-size:0;
}
.calendar .row{
    width: 273px;
}
.calendar .date{
    width:37px;
    height:22px;
    vertical-align:top;
    display:inline-block;
    text-align:center;
    border:1px solid transparent;
    font-size:initial;
}
.calendar .selected{
    border:1px solid #9cf;
}
.calendar-header{
    text-align:center;
    font-size:initial;
}
.calendar-header .left{
    float:left;
}
.calendar-header .right{
    float:right;
}
ul{
    list-style:none;
}
#detail,#setting,#how-to-write{
    display:inline-block;
    vertical-align:top;
    width:500px;
    padding:10px;
    border:1px solid #ccc;
    background:#f3f3f3;
    box-shadow:0 0 10px #ccc;
    border-radius:3px;
}
#detail{
    position: absolute;
    bottom: 30px;
    left:0;
}
#detail.hideSetting{
    width: 90%;
    margin-left: -45%;
    left: 50%;
}
#setting{
    position:absolute;
    bottom:30px;
    right:0;
}
#how-to-write {
    position:absolute;
    top:0;
    left:0;
    font-size: 15px;
    clear:both;
    width:1000px;
    width:calc(100% - 20px);
    margin-bottom:30px;
}
.error-message{
    color:#c00;
}
.search-list,.following-list{
    overflow-y:scroll;
    height:101px;
}
.following:first-child {
    border-top:1px solid #999;
}
.following {
    padding:3px 10px;
    border-bottom: 1px solid #999;
    vertical-align:top;
}
.following.hidden-group{
    background: #E6E6E6;
}
.following.visible-group{
    background: #f0f0f0;
}
.following button{
    float:right;
    vertical-align:top;
}
.cf:after {
    display:block;
    clear:both;
    content:"";
}
.today{color:#f73;}
.booked-0{background:#f3f3f3}
.booked-1{background:#fee}
.booked-2{background:#fdd}
.booked-3{background:#fbb}
.booked-4{background:#f99}
.booked-5{background:#f66}
input:disabled {
    color:#999;
}
input[type="number"]{
    width:60px;
}
#event-editor [name='rules']{
    width:200px;
}
#group-editor{
    padding:10px;
    border-top:1px solid #ccc;
}
.dialog{
    position:fixed;
    left:50%;
    top:50%;
    width:300px;
    border:1px solid #ccc;
    background:#fff;
    opacity:0.9;
    padding:30px;
    margin-left:-180px;
    margin-top:-30px;
}
.dialog.animate-show-hide.ng-hide-add.ng-hide-add-active,
.dialog.animate-show-hide.ng-hide-remove {
    opacity:0;
    display:block!important;
}
.dialog.animate-show-hide.ng-hide-remove.ng-hide-remove-active,
.dialog.animate-show-hide.ng-hide-add {
    opacity:0.9;
    display:block!important;
}
.dialog.animate-show-hide.ng-hide-add.ng-hide-add-active{
    -webkit-transition:opacity 0.3s linear 0;
    -moz-transition:opacity 0.3s linear 0;
    -o-transition:opacity 0.3s linear 0;
    transition:opacity 0.3s linear 0;
}

@media screen and (max-device-width: 480px) {
    #detail,#detail.hideSetting,#setting{
        position:initial;
        bottom:initial;
        left:initial;
        right:initial;
        width:280px;
        margin:20px auto;
    }
    button{
        min-height: 30px;
        min-width: 49px;
    }
    .calendar-header button {
        height: 24px;
        width:40px;
        min-height:initial;
        min-width:initial;
    }
    html,body,.main{
        height:auto;
    }
    body {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -moz-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
